.venv/
node_modules/
.env
.idea/
.gemini/
.DS_Store
.pycache/
__pycache__/
google_rasbhari_creds.json
testing.py
*.pt
AGENTS.md
.aider*
GEMINI.md
RULES.md
.aierules
.cursorrules
backups/*
media/*
.agents/*
.codex-plugins/*
